*{
    margin:0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    
}
body{
    background: #efefef;
}

@media screen and (max-width:1400px) {

  .top_bod{
    height: 70%;
    width: 100%;
    
    text-align: center;

  }
  .foot_body a{
    font-size: 15px;
    text-decoration: none;
  }
  .foot_body p img{
    width: 15px;

  }
  .foot_body a{
    width: 30px;
    margin-left: 30px;
  }

#cont{

  width: 90%;
  margin-left: 5%;
  height: auto;
  background-color: white;

  top: 10px;
  border-radius: 10px  10px 0px 0px;
}
.hed{
  background-color: #77BEFF;
  border-radius: 10px  10px 0px 0px;
  height: 70px;
  width:100%;
  border-style:solid;
  border-color: #89949e;
  display: flex;
  align-items: center;
  justify-content: space-between;

 
 position: sticky;
 top: 0;
 z-index: 100 ;
 margin-top:5px;
 
}
.link1{
  width: 40%;
  text-align: center;
}

.link2{
  width: 60%;
  text-align: center;
}
.hed1{
  background-color: #77BEFF;

  text-align: center;
 font-weight: bold;
 font-size: 30px;
  height: 50px;
  width:100%;
  border-style:solid;
  border-color:#B6B6B6;
  margin-top: 0.5px;
  
  
}
.hed a{
  text-decoration: none;
  font-size: 30px;
  padding-left: 50px;
  font-weight: bold;
}
.bod{

  
  width: 100%; 
  height:520px;
  display: flex;

  
}

.lft{
  height: 500px;
  width: 25%;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border-style:solid;
  border-color:#B6B6B6;
  background-color: #77BEFF;
  margin-bottom: 10px;
  color: #77BEFF;
  
  
  
}
.rgt{
  height: 500px;
  width: 72%;
  margin-top: 10px;
  margin-left: 9px;
  border-radius: 5px;
  border-style:solid;
  border-color:#B6B6B6;
  
  margin-bottom: 10px;
  
  
  
}
.icon .icont{
  width: auto;
  height: auto;
  
  
}
.icon .icont img{
  width: 40px;
  text-align: left;
  margin-left: 10px;
  height: 40px;
}
.icon .icont a{
  
  text-decoration: none;
font-size: small;
  color: #77BEFF;
  padding-left: 20px;

  
}
.icon .icont a:hover{
  color: blue;
  font-weight: bold;
cursor: pointer;
  
  
  
}

.icon{
  display: grid;
  grid-template-columns: [first] 20% [line2] 80%;
}
.lft_body{
  width: 30%;
  height: 400px;
  margin-top: 30px;
  background-image:url(images/profile.jpeg);
  margin-left: 10%;
}
.rgt_body{
  width: 40%;
  height: 400px;
   margin-top: -400px;
  margin-left: 10%;
  text-align: justify;
  margin-left: 50%;
  font-size: small;

}
.but_button{
  margin-top: -50px;
  height: 50px;
  width: 100%;
}
.but_button img{
  width: 40px;
  
}
.but_button a{
  padding-left: 10%;
}

.but_button p img{
  margin-top: 20px;
  width: 20px;
  padding-left: 10px;
}

  
}
  
  @media screen and (max-width: 768px) {
 
    .hed{
      height: 50px;
    }
    .hed a{
       text-decoration: none;
     font-size: 10px;
      padding-left: 50px;
      font-weight: bold;
}
    .hed1{
        height: 40px;
        font-size: 12px;
        text-align: center; 
    }
    .lft{

        margin-left: 2px;
        margin-top: 2px;
    }
    .rgt{
        height: auto;
        margin-left: 2px;
        margin-top: 2px;

        
    }
    .link1 a{
      font-size: 12px;
      
    }
    .but_button p{
      font-size: small;
    }
.lft{
  width: 50%;
}
.lft .icont img{
  width: 20px;
  height: 20px;

}
.icon{
  display: grid;
  grid-template-columns: [first] 20% [line2] 80%;
}
.lft .icont a{
  font-size: xx-small;
  
}
.but_button img{
  width: 30px;
 
}
.but_button a{
  padding-left: 10%;
}

 
  }
 
    @media screen and (max-width: 520px) {
     
  
      .rgt{
        width: 500px;
      }
      .rgt_body{

        max-height: 500px;
        width: 40%;
        margin-left: 42%;
        font-size: 12px;
      }
      .lft_body{
        width: 30%;
      }
      
      .but_button img{
        width: 20px;
        
      }

      .but_button p{
        font-size: xx-small;
        
      }
          .left{
            width: 300px;
          }
          .rgt{
            width: 500px;
            background-color:grey;
          }
          .rgt_body{
            font-size: 13px;
            max-height: 800px;
          }
         .rgt{
          height: auto;
         }
         .lft_body{
          width:  20%;
        }
        .rgt_body{
          width: 45%;
          font-size: x-small;
        }
        .but_button{
          margin-bottom: 5px;
          margin-top: 20px;
        }
        .foot_body img{
          width: 20px;
          margin-left: 20px;
        }
    .top_bod{
      font-size: x-small;
    
    }
    .foot_body{
      width: 100%;
      margin-top: -50px;
    }
    .foot_body  img{
      width: 20px;
      padding-left:0px;
    }
        
       
    
            }

